<h1 class="text-center">Tasks</h1>
<div class="container border">
<% @tasks.each do |task| %>
  <div class="d-flex justify-content-center">
    <input class="form-group" type="checkbox">
    <%= link_to task.title, task_path(task) %>
    <%= link_to "", destroy_path(task.id),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "fas fa-trash-alt" %>
    </input>
  </div>
<% end %>
</div>
<hr>
<br>
<div class="text-center">
  <%= link_to "Create a new task", new_path,
  class: 'btn btn-success btn-lg' %>
</div>
